@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400&display=swap");
.notes-body {
  display: flex;
  background-color: var(--grey);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 15px 0 15px 0;
  overflow: hidden;
  border-radius: 15px;
  justify-content: stretch;
}
#note-add-bt {
  border: none;
  outline: none;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  width: 120px;
  text-transform: capitalize;
  border-radius: 30px;
  color: var(--text);
  background-color: var(--nav);
}
.but-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}
#note-add-bt:hover {
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.notes-div {
  display: grid;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fit, 250px);
  padding: 20px;
  background-color: var(--bg);
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.notes-div::-webkit-scrollbar {
  display: none;
}
.note-body {
  background-color: var(--bg);
  border-radius: 10px;
  height: 330px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.note-head {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  background-color: var(--nav);
  border-radius: 10px 10px 0 0;
  padding: 7px;
}
#note-title {
  padding: 2px 5px;
  background-color: var(--nav);
  border-top: 2px solid var(--bg);
  color: var(--text);
  font-weight: 500;
  font-size: 17px;
}
.note-bt {
  outline: none;
  margin: none;
  cursor: pointer;
  border: 0;
  background-color: inherit;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}
.note-bt:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  background-color: rgb(36, 34, 34);
}
textarea {
  resize: none;
  width: 100%;
  height: 71%;
  display: flex;
  border: 1px solid var(--nav);
  margin: none;
  overflow-y: scroll;
  outline: 0;
  padding: 10px;
  font-family: "Poppins";
  font-size: 14px;
  background-color: var(--bg);
  color: var(--text);
}
textarea::-webkit-scrollbar {
  display: none;
}
.note-foot {
  background: var(--nav);
  display: flex;
  color: var(--text);
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
}
.note-foot h3 {
  font-weight: 400;
}
