/* :root {
  --nav : #86A789;
  --prof: #B2C8BA;
  --bg: #EBF3E8;
  --grey: #D2E3C8;
} */
.add-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.add-div input,
select {
  margin: none;
  height: 40px;
  border: 0;
  outline: 0;
  width: 100%;
  border-radius: 20px;
  padding: 10px 10px 10px 15px;
  background-color: var(--serBar);
  color: var(--text);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
select {
  padding-right: 25px;
}
#add-bt {
  border: none;
  outline: none;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width: 50%;
  text-transform: uppercase;
  border-radius: 30px;
  color: var(--text);
  background-color: var(--nav);
}
#add-bt:hover {
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.task-body {
  display: flex;
  overflow: hidden;
  padding: 20px;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg);
  border-radius: 15px;
  box-shadow: rgba(151, 147, 147, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.task-body h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--text);
  letter-spacing: 0.3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.cur-task-list {
  margin-bottom: 10px;
}
.cur-task-list,
.completed-task {
  height: 40%;
  background-color: var(--grey);
  overflow-y: scroll;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.cur-task-list::-webkit-scrollbar,
.completed-task::-webkit-scrollbar {
  display: none;
}
table {
  width: 100%;
  overflow-y: scroll;
  padding: 0 20px 0 20px;
  background-color: var(--grey);
  border-radius: 15px;
  margin-bottom: 15px;
  height: auto;
}
table td {
  color: var(--text);
  opacity: 0.7;
}
table th {
  position: sticky;
  top: 0;
  color: var(--text);
  font-weight: 400;
  left: 0;
  background-color: var(--nav);
  z-index: 1000;
}
table th {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
table,
th,
td {
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  border-collapse: collapse;
}
#done-bt {
  margin: 0;
  border: 0;
  outline: 0;
  width: 55%;
  height: 20px;
  vertical-align: middle;
  background-color: rgb(233, 92, 92);
  color: var(--text);
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
#task-remove {
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  cursor: pointer;
}
