@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
/* :root {
  --nav : #86A789;
  --prof: #B2C8BA;
  --bg: #EBF3E8;
  --grey: #D2E3C8;
} */
.main-form {
  display: flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  background: var(--grey);
  margin: 15px 0 15px 0;
  transition: 0.5s;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
}
.form-row {
  margin-bottom: 20px;
  display: flex;
  transition: 0.5s;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
  background-color: var(--grey);
}
.form-row input {
  width: 90%;
  height: 40px;
  border: 0;
  margin: 0;
  outline: 0;
  background-color: var(--serBar);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 30px;
  color: var(--text);
  padding-left: 20px;
}
#add-todo {
  border: none;
  outline: none;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width: 15%;
  text-transform: uppercase;
  border-radius: 30px;
  color: var(--text);
  background-color: var(--nav);
}
#add-todo:hover {
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.item-list {
  height: 100%;
  width: 100%;
}
.item-name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}
ul {
  height: 460px;
  list-style-type: none;
  text-align: center;
  overflow-y: scroll;
  border: 20px solid var(--bg);
  border-radius: 20px;
  background-color: var(--bg);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
ul::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  color: var(--text);
  background-color: var(--prof);
  margin-bottom: 7px;
  height: 40px;
}
input[type="checkbox"] {
  margin-right: 15px;
  accent-color: var(--bg);
  height: 16px;
  width: 16px;
}
#del-bt {
  margin: 0;
  outline: 0;
  border: 0;
  background-color: var(--prof);
  cursor: pointer;
}
ul h3 {
  color: var(--text);
  pointer-events: none;
}
